<?xml version="1.0" encoding="utf-8"?>
<AddinSystemConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Repositories>
    <Repository id="rep0">
      <IsReference>false</IsReference>
      <File>C:\temp\uFrameTest\MonoDevelop-Unity-5.0\Config\repository-cache\addins.monodevelop.com_0.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Win32/5.9.6/main.mrep</Url>
      <Name>MonoDevelop-Unity Add-in Repository</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep1">
      <IsReference>false</IsReference>
      <File>C:\temp\uFrameTest\MonoDevelop-Unity-5.0\Config\repository-cache\addins.monodevelop.com_1.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Win32/5.9.6/main.mrep</Url>
      <Name>MonoDevelop-Unity Add-in Repository (Beta channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
    </Repository>
    <Repository id="rep2">
      <IsReference>false</IsReference>
      <File>C:\temp\uFrameTest\MonoDevelop-Unity-5.0\Config\repository-cache\addins.monodevelop.com_2.mrep</File>
      <Url>http://addins.monodevelop.com/Alpha/Win32/5.9.6/main.mrep</Url>
      <Name>MonoDevelop-Unity Add-in Repository (Alpha channel)</Name>
      <LastModified>1900-01-01T00:00:00</LastModified>
      <Enabled>false</Enabled>
    </Repository>
    <Repository id="rep3">
      <IsReference>true</IsReference>
      <File>C:\temp\uFrameTest\MonoDevelop-Unity-5.0\Config\repository-cache\addins.monodevelop.com_3.mrep</File>
      <Url>http://addins.monodevelop.com/Stable/Win32/5.9.6/root.mrep</Url>
      <Name>MonoDevelop Add-in Repository</Name>
      <LastModified>2016-12-14T23:26:34+01:00</LastModified>
    </Repository>
    <Repository id="rep4">
      <IsReference>true</IsReference>
      <File>C:\temp\uFrameTest\MonoDevelop-Unity-5.0\Config\repository-cache\addins.monodevelop.com_4.mrep</File>
      <Url>http://addins.monodevelop.com/Beta/Win32/5.9.6/root.mrep</Url>
      <Name>MonoDevelop Add-in Repository (Beta channel)</Name>
      <LastModified>2016-12-14T23:26:42+01:00</LastModified>
    </Repository>
  </Repositories>
  <RepositoryIdCount>5</RepositoryIdCount>
  <DisabledAddins />
  <AddinPaths />
</AddinSystemConfiguration>